- cache ['lineup', restaurant] do
  %tr
    - row_span = if not restaurant.description or restaurant.description.empty? then 1 else 2 end
    %td{:width => "100", :rowspan => row_span}
      - if restaurant.logo_url and not restaurant.logo_url.empty?
        %img{:src => "http://www.waiter.com" + restaurant.logo_url, :alt => restaurant.name}
      - else
        [IMG]
    %td
      = link_to restaurant.name, restaurant_path(restaurant.id)
      = "(#{restaurant.food_type})"

  - if restaurant.description and not restaurant.description.empty?
    %tr
      %td= restaurant.description
  %tr
    %td{:colspan => 2}
      #lineup_feedback{:id => restaurant.id}
        = pluralize(restaurant.reviews.length, 'Review')
        \|
        = render :partial => 'shared/rating_display', :locals => {:ratable => restaurant}

