- cache ['lineup', restaurant] do
  %tr
    - row_span = if restaurant.description.empty? then 1 else 2 end
    %td{:width => "100", :rowspan => row_span}
      %img{:src => "http://www.waiter.com" + restaurant.logo_url, :alt => restaurant.name}
    %td
      = link_to restaurant.name, restaurant_path(restaurant.id)
      = "(#{restaurant.food_type})"

  - if not restaurant.description.empty?
    %tr
      %td= restaurant.description
  %tr
    %td
      = pluralize(restaurant.reviews.length, 'Review')

