%h1 Listing daily_lineups

%table
  %tr
    %th Date
    %th Early 1
    %th Early 2
    %th Early 3
    %th Late 1
    %th Late 2
    %th Late 3
    %th
    %th
    %th

  - @daily_lineups.each do |daily_lineup|
    %tr
      %td= daily_lineup.date
      %td= daily_lineup.early_1
      %td= daily_lineup.early_2
      %td= daily_lineup.early_3
      %td= daily_lineup.late_1
      %td= daily_lineup.late_2
      %td= daily_lineup.late_3
      %td= link_to 'Show', daily_lineup
      %td= link_to 'Edit', edit_daily_lineup_path(daily_lineup)
      %td= link_to 'Destroy', daily_lineup, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Daily lineup', new_daily_lineup_path
