%p.feedback-list
  %h3
    Reviews:
  - cache ['show-feedback', feedbackable] do
    - if feedbackable.feedbacks.any?
      %ol
        - feedbackable.feedbacks.each do |info|
          %li.feedback-item
            .feedback-item-header
              %span.feedback-item-title= info.attributes["title"]
              - if info.attributes["value"]
                %span.feedback-item-rating= "Rating: #{info.attributes["value"]}"
            .feedback-item-author= "By #{info.attributes["nickname"]}"
            .feedback-item-content= info.attributes["content"]
    - else
      No reviews
