- # any new ratings/review for this dish will expire the cache
- cache ['index', dish] do
  #dish_block{:id => dish.id}
    %h5
      %a{:href => dish_path(dish)}= "#{dish.name} pos: #{dish.position}"
      %span= dish.price
    = render :partial => "desc_row", :locals => { :item => dish }

    - # Display review/rating info for this dish.
    #dish-feedback{:id => dish.id}
      %span#dish-reviews{:id => dish.id}
        - if dish.reviews.any?
          = link_to pluralize(dish.reviews.length, 'Review'), dish_reviews_path(dish)
        - else
          = pluralize(0, 'Review')
      \|
      %span#dish-rating{:id => dish.id}
        = "Rating: #{dish.star_rating}"
