%p
  %h2= @restaurant.name
  %h4= @restaurant.description

%table
  - # foregoing eager loading of review/ratings here in favor of fragment
  - # caching.  Dish frags are evaluated once until something changes
  - # about them... eg: ratings/reviews (via :touch -> :dish)
  - @restaurant.active_courses.includes(:active_dishes).each do |course|
    = render :partial => 'course_info', :locals => {:course => course}
    - course.active_dishes.each do |dish|
      = render :partial => 'dish_block', :locals => {:dish => dish}
      = render :partial => 'dish_rater', :locals => {:dish => dish}
