%h1 Listing dishes

%table
  %tr
    %th Waiter
    %th Name
    %th Description
    %th Price
    %th Restaurant
    %th Course
    %th
    %th
    %th

  - @dishes.each do |dish|
    %tr
      %td= dish.waiter_id
      %td= dish.name
      %td= dish.description
      %td= dish.price
      %td= dish.restaurant
      %td= dish.course
      %td= link_to 'Show', dish
      %td= link_to 'Edit', edit_dish_path(dish)
      %td= link_to 'Destroy', dish, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dish', new_dish_path
