- # Dishes/show

→
= link_to 'write review', new_dish_review_path(@dish)

%p
  %b Waiter:
  = @dish.waiter_id
%p
  %b Name:
  = @dish.name
%p
  %b Description:
  = @dish.description
%p
  %b Price:
  = @dish.price

= render :partial => 'shared/show_feedback', :locals => {:feedbackable => @dish}
