- # Dishes/show

= render :partial => "shared/user_navigator", :locals => {:target => @dish}

- cache ['show', @dish] do
  %p
    %h2= @dish.name
    %h5= @dish.description

  %p
    %dl
      %dt
        %b Price:
      %dd
        = @dish.price

= render :partial => 'shared/show_feedback', :locals => {:feedbackable => @dish}
