- # Dishes/show

= render :partial => "shared/user_navigator", :locals => {:target => @dish}

%p
  %b Waiter:
  = @dish.waiter_id
%p
  %b Name:
  = @dish.name
%p
  %b Description:
  = @dish.description
%p
  %b Price:
  = @dish.price

= render :partial => 'shared/show_feedback', :locals => {:feedbackable => @dish}
