
= link_to "back to #{@dish.restaurant.name}", restaurant_path(@dish.restaurant)
\|
= link_to 'home', root_path
%br

%p
  %b Waiter:
  = @dish.waiter_id
%p
  %b Name:
  = @dish.name
%p
  %b Description:
  = @dish.description
%p
  %b Price:
  = @dish.price

