%a{:href => root_path}home
%br
back to
%a{:href => restaurant_path(@dish.restaurant)}= @dish.restaurant.name

%p
  %b Waiter:
  = @dish.waiter_id
%p
  %b Name:
  = @dish.name
%p
  %b Description:
  = @dish.description
%p
  %b Price:
  = @dish.price
