- # Restaurant#show

→
= link_to 'dishes', restaurant_dishes_path(@restaurant)
\|
= link_to 'write review', new_restaurant_review_path(@restaurant)

- if current_user
  = render :partial => 'shared/ratable_rater',
           :locals => {:id => @restaurant.id,
                       :url => restaurant_rate_path(@restaurant),
                       :rating => current_user.get_restaurant_rating(@restaurant)}

%p
  %img{:src => "http://www.waiter.com" + @restaurant.logo_url, :alt => "img"}

%p
  %b Name:
  = @restaurant.name

%p
  %b Description:
  = @restaurant.description

%p
  %b Address:
  = @restaurant.address

%p
  %b Food type:
  = @restaurant.food_type

%p
  %b Yelp Id:
  = @restaurant.yelp_id

= render :partial => 'shared/show_feedback', :locals => {:feedbackable => @restaurant}
