- # Restaurant#show

→
= link_to 'dishes', restaurant_dishes_path(@restaurant)
= render :partial => "shared/user_navigator", :locals => {:target => @restaurant}

- cache ['show', @restaurant] do
  %p
    %img{:src => "http://www.waiter.com" + @restaurant.logo_url, :alt => "img"}

  %dl
    %dt
      %b Name:
    %dd= @restaurant.name

    - if @restaurant.description and not @restaurant.description.empty?
      %dt
        %b Description:
      %dd= @restaurant.description

    %dt
      %b Address:
    %dd= @restaurant.address

    %dt
      %b Food type:
    %dd= @restaurant.food_type

    %dt
      %b Yelp ID:
    %dd= @restaurant.yelp_id

= render :partial => 'shared/show_feedback', :locals => {:feedbackable => @restaurant}
