- # Restaurant#show

→
= link_to 'dishes', restaurant_dishes_path(@restaurant)
\|
= link_to 'write review', new_restaurant_review_path(@restaurant)

%div
  %div
    - cur_rating = @restaurant.ratings.for_user(current_user).empty? ? 0 : @restaurant.ratings.for_user(current_user).first.value
    = select_tag "rating", options_for_select(1..5, cur_rating),
      :prompt => "Rate me",
      :'data-method' => 'post',
      :'data-remote' => 'true',
      :'data-url' => restaurant_rate_path(@restaurant.id)
  %div.rate-result hi there


%p
  %img{:src => "http://www.waiter.com" + @restaurant.logo_url, :alt => "img"}

%p
  %b Name:
  = @restaurant.name

%p
  %b Description:
  = @restaurant.description

%p
  %b Address:
  = @restaurant.address

%p
  %b Food type:
  = @restaurant.food_type

%p
  %b Yelp Id:
  = @restaurant.yelp_id

%h3 Reviews
- @restaurant.reviews.each_with_index do |review, index|
  %table
    %tr
      %td= "#{index+1}"
    %tr
      %td= review.title
    %tr
      %td= review.content

