- if session[:lineup_id]
  = link_to "back", lineups_path(session[:lineup_id])
- else
  = link_to 'today', root_path
%br

= link_to 'dishes', restaurant_dishes_path(@restaurant)
\|
= link_to 'write review', new_restaurant_review_path(@restaurant)

%p
  %img{:src => "http://www.waiter.com" + @restaurant.logo_url, :alt => "img"}

%p
  %b Name:
  = @restaurant.name

%p
  %b Description:
  = @restaurant.description

%p
  %b Address:
  = @restaurant.address

%p
  %b Food type:
  = @restaurant.food_type

%p
  %b Yelp Id:
  = @restaurant.yelp_id

%h3 Reviews
- @restaurant.reviews.each_with_index do |review, index|
  %table
    %tr
      %td= "#{index+1}"
    %tr
      %td= review.title
    %tr
      %td= review.content

