- # Restaurant#show

→
= link_to 'dishes', restaurant_dishes_path(@restaurant)
= render :partial => "shared/user_navigator", :locals => {:target => @restaurant}

%p
  %img{:src => "http://www.waiter.com" + @restaurant.logo_url, :alt => "img"}

%p
  %b Name:
  = @restaurant.name

%p
  %b Description:
  = @restaurant.description

%p
  %b Address:
  = @restaurant.address

%p
  %b Food type:
  = @restaurant.food_type

%p
  %b Yelp Id:
  = @restaurant.yelp_id

= render :partial => 'shared/show_feedback', :locals => {:feedbackable => @restaurant}
