%p#notice= notice

%a{:href => root_path}home

%p
  %h2= @restaurant.name
  %h4= @restaurant.description

- @restaurant.courses.each do |course|
  %div
    %h3= course.name
    %h4= course.description
    %div
      -course.dishes.each do |dish|
        %div
          %h5
            %a{:href => dish_path(dish)}= dish.name
