%h1
  Reviews

%table
  %tr
    %th Title
    %th Content
    %th Expuragate
    %th Reviewable
    %th User
    %th
    %th
    %th

  - @reviews.each do |review|
    %tr
      %td= review.title
      %td= review.content
      %td= review.expurgate
      %td= review.reviewable.name
      %td= review.user.nickname
      %td= link_to 'Show', review
      %td= link_to 'Edit', edit_review_path(review)
      %td= link_to 'Destroy', review, :method => :delete, :data => { :confirm => 'Are you sure?' }
