%h1
  = "Reviews for #{@review_target.name}"

%table
  %tr
    %th Title
    %th Content
    %th
    %th
    %th

  - @review_target.reviews.each do |review|
    %tr
      %td= review.title
      %td= review.content
      %td= link_to 'Show', review
      %td= link_to 'Edit', edit_review_path(review)
      %td= link_to 'Destroy', review, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
