- if @lineup
  = link_to "lineup for #{@lineup.date}", lineups_path(@lineup)
- else
  = link_to 'home', root_path
←
= link_to @review.reviewable.name,  polymorphic_path(@review.reviewable)
←

%p
  %b Title:
  = @review.title
%p
  %b Content:
  = @review.content
%p
  %b Expurgate:
  = @review.expurgate
%p
  %b Reviewable:
  = @review.reviewable
%p
  %b User:
  = current_user.nickname

= link_to 'Edit', edit_review_path(@review)
